<h2>Listing songs <%= link_to 'New Song', new_song_path, class: "success button radius" %></h2>

<table class="eight">
  <thead>
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th>Genres</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @songs.each do |song| %>
    <tr>
      <td><%= song.name %></td>
      <td><%= link_to song.artist.name, artist_path(song.artist) %></td>
      <td>
        <% unless song.genres.empty? %>
          <% song.genres.each do |g| %>
            <%= g.name %></br> 
          <% end %>
        <% else %>
          none
        <% end %>
      <td>
        <ul class='button-group radius'>
          <li><%= link_to 'Edit', edit_song_path(song), class: "round button small secondary" %></li>
          <li><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' }, class: "round button small alert" %></li>
        </ul>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
